[Unit]
Description=TechoOS app suite installer
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/techoos/flatpaks-done.v5

[Service]
Type=oneshot
ExecStart=/usr/bin/techoos-flatpak-setup
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
